.collectionCard {
  width: 16rem;
}

@media screen and (max-width: 576px) {
  .collectionCard {
    width: 8rem;
  }

  .collectionCardImg {
    height: 8rem;
  }

  .collectionCardTitle {
    font-size: 0.7rem!important;
  }
}
