.productCard {
  width: 16rem;
}

.productCardPriceContainer {
  gap: 0.5rem;
}

.productCardPrice {
  font-size: 1.25rem;
}

.productCardComparePrice {
  font-size: 1rem;
}

.productCardBtn {
  max-width: 10rem;
  font-size: 0.9rem!important;
}

@media screen and (max-width: 576px) {
  .productCard {
    width: 100%;
    max-width: 10rem;
  }

  .productCardBadge {
    font-size: 0.5rem!important;
  }

  .productCardImg {
    height: 6rem;
  }

  .productCardTitle {
    font-size: 0.7rem!important;
  }

  .productCardPriceContainer {
    gap: 0;
    flex-direction: column;
  }

  .productCardPrice {
    font-size: 0.75rem !important;
  }

  .productCardComparePrice {
    font-size: 0.7rem !important;
  }

  .productCardBtn {
    font-size: 0.6rem!important;
  }

  .productCardBtnIcon {
    width: 1rem;
    height: 1rem;
  }
}
